* {
    font-family: 'Poppins', sans-serif;
}


/* .rock-body div {
    display: flex;
    justify-content: center;
    margin: 10px;
} */

/* .rock-head {
    height: 100vh;
    max-height: 100vh;
    background-color: white;
    overflow-y: hidden;
} */




/* 
.header {
    padding: 0 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 8vh;
    margin: 0;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(113, 110, 110, 0.25);

    } */
